<div class='row'>
    <div class='col-md-3'>
      <%= render 'layouts/menu' %>  
    </div>


    <div class='col-md-6 page-borders no-padding'>
        <div class='container header color'>
           <h1>Lists</h1>
        </div>
        <div class='row body-margin'>
          <div class='col-md selection active' onclick="Followers('following')">
            Following
          </div>
          <div class='col-md selection' onclick="Followers('followers')">
            Followers
          </div>
          <div class='col-md selection' onclick="Followers('likes')">
            Likes
          </div>
        </div>


        <div class="list-following">
          <% @users = current_user.all_following %>
          <% @users.each do |user| %>
              <% unless user == current_user %>
              <div class="people-lists">
                  <% if user.avatar.attached? %>
                    <%= image_tag(user.avatar, class: "people-image")  %>
                  <% else %>
                    <%= image_tag("/assets/avatar.png", class: "people-image") %>
                  <% end %>
                  <%= user.username %>
                  <% if user_signed_in? %>
                      <% unless user == current_user %>
                          <% if current_user.following?(user) %>
                              <%= button_to("Un-Follow", user_follow_path(user.to_param, current_user.get_follow(user).id), :method => :delete, :remote => true, class: 'btn btn-primary button') %>
                          <% else %>
                              <%= button_to("Follow", user_follows_path(user.to_param), :remote => true, class: 'btn btn-primary button') %>
                          <% end %>
                      <% end %>
                  <% end %>
              </div>
              <% end %>
          <% end %>
        </div>

        <div class="list-followers">
          <% @users = current_user.followers %>
          <% @users.each do |user| %>
              <% unless user == current_user %>
              <div class="people-lists">
                  <% if user.avatar.attached? %>
                    <%= image_tag(user.avatar, class: "people-image")  %>
                  <% else %>
                    <%= image_tag("/assets/avatar.png", class: "people-image") %>
                  <% end %>
                  <%= user.username %>
                  <% if user_signed_in? %>
                      <% unless user == current_user %>
                          <% if current_user.following?(user) %>
                              <%= button_to("Un-Follow", user_follow_path(user.to_param, current_user.get_follow(user).id), :method => :delete, :remote => true, class: 'btn btn-primary button') %>
                          <% else %>
                              <%= button_to("Follow", user_follows_path(user.to_param), :remote => true, class: 'btn btn-primary button') %>
                          <% end %>
                      <% end %>
                  <% end %>
              </div>
              <% end %>
          <% end %>
        </div>

        <div class="list-followers">
          <% @user = current_user.followers %>
          <% @users.each do |user| %>
              <% unless user == current_user %>
              <div class="people-lists">
                  <% if user.avatar.attached? %>
                    <%= image_tag(user.avatar, class: "people-image")  %>
                  <% else %>
                    <%= image_tag("/assets/avatar.png", class: "people-image") %>
                  <% end %>
                  <%= user.username %>
                  <% if user_signed_in? %>
                      <% unless user == current_user %>
                          <% if current_user.following?(user) %>
                              <%= button_to("Un-Follow", user_follow_path(user.to_param, current_user.get_follow(user).id), :method => :delete, :remote => true, class: 'btn btn-primary button') %>
                          <% else %>
                              <%= button_to("Follow", user_follows_path(user.to_param), :remote => true, class: 'btn btn-primary button') %>
                          <% end %>
                      <% end %>
                  <% end %>
              </div>
              <% end %>
          <% end %>
        </div>

        <% @feeds.each do |feed| %>
          <% if current_user.voted_as_when_voted_for feed %>
            <div class='container feed list-likes'>
              <div class='tweet-image'>
                <% if feed.user.avatar.attached? %>
                  <%= image_tag(feed.user.avatar, class: "avatar-image")  %>
                <% else %>
                  <%= image_tag("/assets/avatar.png", class: "avatar-image") %>
                <% end %>
              </div>
              <div class='tweet-time'>
                <%= feed.time %>
              </div>
              <div class='tweet-username'>
                <%= feed.user.username %>
              </div>
              <div class='tweet-text'>
                <%= highlight(feed.text, /#\w+/, highlighter: '<a href="search?q=\1">\1</a>') %>
              </div>

              <% if feed.image.attached? %>
                <%= image_tag(feed.image, class:"feed-image") %>
              <% end %>

              <% if !current_user.nil? %>
                <% if current_user.voted_up_for? feed %>
                    <%= link_to "Downvote (" + feed.weighted_score.to_s + ")", dislike_feed_path(feed.id), method: :put, class: "links" %>
                  <% else %>
                    <%= link_to "Upvote (" + feed.weighted_score.to_s + ")", like_feed_path(feed.id), method: :put, class: "links" %>
                <% end %>
                <% if current_user.email === feed.user.email %>              
                  <div class="buttons">
                    <%= link_to('Destroy', feed, method: :delete, data: { confirm: 'Are you sure?' }) %>
                    <%= link_to "Report", report_feed_path(feed.id), method: :put %>
                  </div>
                <% end %>
              <% end %>
            </div>
            <div class="list-likes">
              <%= commontator_thread(feed) %>
            </div>
          <% end %>
        <% end %>
    </div>
    
    <div class='col-md-3 color margin'>
      <%= render 'layouts/people' %>  
    </div>
</div>