<%= form_with(model: @feed, local: true) do |form| %>
  <% if @feed.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@feed.errors.count, "error") %> prohibited this feed from being saved:</h2>

      <ul>
      <% @feed.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field height-input">
    <% @users = current_user %>
    <% if user_signed_in? && @user.avatar.attached? %>
      <%= image_tag(@user.avatar, class: "feed-avatar feed-margin")%>
    <% else %>
      <%= image_tag("/assets/avatar.png", class: "feed-avatar feed-margin") %>
    <% end %>

    <%= form.text_area :text, id: :feed_text, placeholder: "What is going on?", class: "text-input" %>
    <% if user_signed_in? %>
      <%= form.submit "Post", class: "btn btn-primary float-right create-buttons" %>
      <div class="fileUpload btn btn-primary float-right">
        <span>Upload</span>
      </div>
              <%= form.file_field :image, class: "upload", accept: ".jpg,.png,.jpeg" %>

    <% end %>
  </div>

  <hr class="">

  <div class="field no-display">
    <%= form.label :picture %>
    <%= form.text_field :picture, id: :feed_picture %>
  </div>

  <div class="field no-display">
    <%= form.label :time %>
    <%= form.datetime_select :time, id: :feed_time %>
  </div>

  <div class="field no-display">
    <%= form.label :reported %>
    <%= form.text_field :reported, id: :feed_reported, value: "none" %>
  </div>

  <div class="actions no-display">
    <%= form.submit "Post", class: "btn btn-primary" %>
  </div>
<% end %>
