<%= link_to 'New Feed', new_feed_path %>

<div class='row'>
    <div class='col-md-3'>
      <%= render 'layouts/menu' %>  
    </div>


    <div class='col-md-6 page-borders'>
        <div class='container header color'>
           <h1>Home</h1>
        </div>

        <div class='container feed'>
        <% @feeds.each do |feed| %>
          <div class='tweet-image'>
            <%= feed.picture %>
          </div>
          <div class='tweet-time'>
            <%= feed.time %>
          </div>
          <tr>
            <td><%= feed.text %></td>
            <td><%= feed.picture %></td>
            <td><%= feed.time %></td>
            <td><%= feed.reported %></td>
            <td><%= link_to 'Show', feed %></td>
            <td><%= link_to 'Edit', edit_feed_path(feed) %></td>
            <td><%= link_to 'Destroy', feed, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>

        </div>

    </div>

    <div class='col-md-3 color'>
        <h1>Who to follow</h1>
    </div>
</div>