<%= link_to("new", new_feed_path) %>
<div class='row'>
    <div class='col-md-3'>
      <%= render 'layouts/menu' %>  
    </div>


    <div class='col-md-6 page-borders'>
        <div class='container header color'>
           <h1>Home</h1>
        </div>

        <% @feeds.each do |feed| %>
        <div class='container feed'>
          <div class='tweet-image'>
            <%= image_tag("/assets/" +  feed.user.avatar + ".png",  alt: "Logo", class: "avatar-image") %>
          </div>
          <div class='tweet-time'>
            <%= feed.time %>
          </div>
          <div class='tweet-username'>
            <%= feed.user.username %>
          </div><br>
          <tr><br>
            <td><%= feed.text %></td>
            <td><%= feed.picture %></td>
            <td><%= feed.time %></td>
            <td><%= feed.user.username %> </td>
            <td><%= feed.reported %></td>
            <td><%= link_to 'Show', feed %></td>
            <td><%= link_to 'Edit', edit_feed_path(feed) %></td>
            <td><%= link_to 'Destroy', feed, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            
          </tr>
          

        </div>
        <%= commontator_thread(feed) %>
        <% end %>
    </div>
    
    <div class='col-md-3 color margin'>
      <%= render 'layouts/people' %>  
    </div>
</div>