<div class='row'>
    <div class='col-md-3'>
      <%= render 'layouts/menu' %>  
    </div>


    <div class='col-md-6 page-borders no-padding'>
        <div class='container header color header-container'>
           <h1>Home</h1>
            <%= form_tag(feeds_path, :method => "get", id: "search-form", class: "form-inline my-2 my-lg-0") do %>
              <%= text_field_tag :search, params[:search], placeholder: "Search HashTag", class: "form-control mr-sm-2" %>
              <%= submit_tag "Search", class: "btn btn-primary" %>
            <% end %>
        </div>

        <div class='container no-padding'>
          <%= render 'form', feed: @feed %>
        </div>

        <% @feeds.each do |feed| %>
        <% if user_signed_in? %>
          <% if feed.user.username === current_user.username || current_user.following?(feed.user) %>
            <div class='container feed'>
              <div class='tweet-image'>
                <% if feed.user.avatar.attached? %>
                  <%= image_tag(feed.user.avatar, class: "feed-avatar")  %><br/>
                <% else %>
                  <%= image_tag("/assets/avatar.png", class: "feed-avatar") %><br/>
                <% end %>
              </div>
              <div class='tweet-time'>
                <%= feed.time %>
              </div>
              <div class='tweet-username'>
                <%= feed.user.username %>
              </div>
              <div class='tweet-text'>                
                <%= highlight(feed.text, /#\w+/, highlighter: '<a href="feeds?utf8=✓&search=\1&commit=Search">\1</a>') %>
              </div>
              
              <% if feed.image.attached? %>
                <%= image_tag(feed.image, class:"feed-image") %>
              <% end %>

              <% if !current_user.nil? %>
                <% if current_user.voted_up_for? feed %>
                    <%= link_to "Downvote (" + feed.weighted_score.to_s + ")", dislike_feed_path(feed.id), method: :put, class: "links" %>
                  <% else %>
                    <%= link_to "Upvote (" + feed.weighted_score.to_s + ")", like_feed_path(feed.id), method: :put, class: "links" %>
                <% end %>
                <% if current_user.email === feed.user.email %>              
                  <div class="buttons">
                    <%= link_to('Destroy', feed, method: :delete, data: { confirm: 'Are you sure?' }) %>
                    <%= link_to "Report", report_feed_path(feed.id), method: :put %>
                  </div>
                <% end %>
              <% end %>
            </div>
            <%= commontator_thread(feed) %>
            <% end %>
          <% else %>
            <div class='container feed'>
              <div class='tweet-image'>
                <% if feed.user.avatar.attached? %>
                  <%= image_tag(feed.user.avatar, class: "feed-avatar")  %><br/>
                <% else %>
                  <%= image_tag("/assets/avatar.png", class: "feed-avatar") %><br/>
                <% end %>
              </div>
              <div class='tweet-time'>
                <%= feed.time %>
              </div>
              <div class='tweet-username'>
                <%= feed.user.username %>
              </div>
              <div class='tweet-text'>                
                <%= highlight(feed.text, /#\w+/, highlighter: '<a href="feeds?utf8=✓&search=\1&commit=Search">\1</a>') %>
              </div>
              
              <% if feed.image.attached? %>
                <%= image_tag(feed.image, class:"feed-image") %>
              <% end %>
            </div>
          <% end %>
        <% end %>
    </div>
    
    <div class='col-md-3 color margin'>
      <%= render 'layouts/people' %>  
    </div>
</div>