<div class='row'>
    <div class='col-md-3'>
      <%= render 'layouts/menu' %>  
    </div>


    <div class='col-md-6 page-borders'>
        <div class='container header color'>
           <h1>Home</h1>
        </div>

        <div class='container'>
          <%= render 'form', feed: @feed %>
        </div>

        <% @feeds.each do |feed| %>
        <div class='container feed'>
          <div class='tweet-image'>
            <%= image_tag(feed.user.avatar, class:"avatar-image") %>
          </div>
          <div class='tweet-time'>
            <%= feed.time %>
          </div>
          <div class='tweet-username'>
            <%= feed.user.username %>
          </div>
          <div class='tweet-text'>
            <%= feed.text %>
          </div>
          
          
          <% if !(feed.picture.nil? || feed.picture.empty?) %>
            <%= image_tag(feed.picture, class:"avatar-image") %>
          <% end %>

          <% if current_user.voted_up_for? feed %>
            <%= link_to "Downvote", dislike_feed_path(feed.id), method: :put, class: "links" %>
          <% else %>
            <%= link_to "Upvote", like_feed_path(feed.id), method: :put, class: "links" %>
          <% end %>
          
          <div class="buttons">
            <%= link_to 'Show', feed %>
            <%= link_to 'Edit', edit_feed_path(feed) %>
            <%= link_to 'Destroy', feed, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
          

        </div>
        <%= commontator_thread(feed) %>
        <% end %>
    </div>
    
    <div class='col-md-3 color margin'>
      <%= render 'layouts/people' %>  
    </div>
</div>