<div class='row'>
    <div class='col-md-3'>
      <%= render 'layouts/menu' %>  
    </div>


    <div class='col-md-6 page-borders'>
        <div class='container header color'>
           <h1>Home</h1>
        </div>

        <div class='container'>
          <%= render 'form', feed: @feed %>
        </div>

        <% @feeds.each do |feed| %>
        <div class='container feed'>
          <div class='tweet-image'>
            <%= image_tag 'http://graph.facebook.com/v2.10/2654394201274246/picture' %>
          </div>
          <div class='tweet-time'>
            <%= feed.time %>
          </div>
          <div class='tweet-username'>
            <%= feed.user.username %>
          </div>
          <%= link_to "Upvote", like_feed_path(feed.id), method: :put %>
          <%= link_to "Downvote", dislike_feed_path(feed.id), method: :put %>
          
          <br>
          <tr><br>
            <td><%= feed.text %></td>
            <td><%= feed.picture %></td>
            <td><%= feed.time %></td>
            <td><%= feed.user.username %> </td>
            <td><%= feed.reported %></td>
            <td><%= link_to 'Show', feed %></td>
            <td><%= link_to 'Edit', edit_feed_path(feed) %></td>
            <td><%= link_to 'Destroy', feed, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            
          </tr>
          

        </div>
        <%= commontator_thread(feed) %>
        <% end %>
    </div>
    
    <div class='col-md-3 color margin'>
      <%= render 'layouts/people' %>  
    </div>
</div>