<div class='row'>
    <div class='col-md-3'>
      <%= render "layouts/menu" %>  
    </div>


    <div class='col-md-6 page-borders no-padding'>
        <div class='container header color header-container'>
           <h1 class="search-index">Home</h1>
            <%= form_tag(feeds_path, :method => "get", id: "search-form", class: "form-inline my-2 my-lg-0 search-form") do %>
              <%= text_field_tag :search, params[:search], placeholder: "Search HashTag", class: "form-control mr-sm-2" %>
              <%= submit_tag "Search", class: "btn btn-primary" %>
            <% end %>
        </div>

        <div class='container no-padding'>
          <%= render "form", feed: @feed %>
        </div>

        <% @count = 0 %>
        <% @countImg = -1 %>
        <% @feeds.each do |feed| %>
        <% if user_signed_in? %>
          <% if feed.user.username === current_user.username || current_user.following?(feed.user) %>
            <div class='container feed'>
              <div class='tweet-image'>
                <% if feed.user.avatar.attached? %>
                  <%= image_tag(feed.user.avatar, class: "feed-avatar") %><br/>
                <% else %>
                  <%= image_tag("/assets/avatar.png", class: "feed-avatar") %><br/>
                <% end %>
              </div>
              <div class='tweet-time'>
                <%= feed.time %>
              </div>
              <div class='tweet-username'>
                <%= feed.user.username %>
              </div>
              <div class='tweet-text'>                
                <%= highlight(feed.text, /#\w+/, highlighter: '<a href="feeds?utf8=✓&search=\1&commit=Search">\1</a>') %>
              </div>
              
              <% if feed.image.attached? %>
                <%= image_tag(feed.image, class: "feed-image") %>
                <% @countImg = @countImg + 1 %>
              <% end %>

              <% if !current_user.nil? %>
                <% if current_user.voted_up_for? feed %>
                    <%= link_to "Unlike (" + feed.get_upvotes.size.to_s + ")", dislike_feed_path(feed.id), method: :put, class: "links" %>
                  <% else %>
                    <%= link_to "Like (" + feed.get_upvotes.size.to_s + ")", like_feed_path(feed.id), method: :put, class: "links" %>
                <% end %>

                <% @countComments = 0 %>
                <div class="comments">
                  <% @commentShow.each do |comment| %>
                    <% if comment.feed_id === feed.id %>
                      <% @countComments = @countComments + 1 %>
                      <div class="container comments-feed">
                        <div class="avatar-username">
                          <% if comment.user.avatar.attached? %>
                            <%= image_tag(comment.user.avatar, class: "comment-avatar") %>
                          <% else %>
                            <%= image_tag("/assets/avatar.png", class: "comment-avatar") %>
                          <% end %>
                          <%= comment.user.username %>
                        </div>
                        <span class="comments-text">
                          <%= comment.reply %>
                        </span>
                        <span class="comment-date"><%= comment.posted %></span>
                        <span class="comment-delete buttons"><%= link_to "Destroy", comment, method: :delete, data: { confirm: "Are you sure?" } %></span>
                      </div>
                    <% end %>
                  <% end %>
                </div>

                <div class="buttons">
                  <% if current_user.email === feed.user.email %>              
                    <%= link_to("Destroy", feed, method: :delete, data: { confirm: "Are you sure?" }) %>
                  <% end %>
                  <%= link_to "Report", report_feed_path(feed.id), method: :put %>
                  <a onclick='Comment(<%= @count %>,<%= @countComments %>,<%= @countImg %>)' class='comment'>Comment</a>
                </div>

                <%= form_with(model: @comment, local: true) do |form| %>
                  <% if @comment.errors.any? %>
                    <div id="error_explanation">
                      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

                      <ul>
                      <% @comment.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                      <% end %>
                      </ul>
                    </div>
                  <% end %>

                  <div class="comment-form">
                    <div class="field">
                      <%= form.text_field :reply, class: "form-control comment-text", placeholder: "Comment" %>
                      <%= form.submit "Comment", class: "btn btn-primary float-right" %>
                    </div>

                    <div class="field no-display">
                      <%= form.label :feed_id %>
                      <%= form.text_field :feed_id, value: feed.id %>
                    </div>

                    <div class="field no-display">
                      <%= form.label :posted %>
                      <%= form.date_select :posted %>
                    </div>
                  </div>
                <% end %>

                <script>
                  var Comment = function(count, set, countImg){
                    var comment = document.getElementsByClassName("comment-form")[count];
                    var image = document.getElementsByClassName("feed-image")[countImg];
                    var show = document.getElementsByClassName("comments")[count];
                    var feed = document.getElementsByClassName("feed")[count];
                    var text = document.getElementsByClassName("comment")[count];

                    if(comment.style.display == "block"){
                      comment.style.display = "none";
                      show.style.display = "none";
                      text.innerHTML = "Comment";                     
                      feed.style.minHeight = "200px";
                      image.style.display = "block";
                    }else{
                      comment.style.display = "block";
                      feed.style.minHeight = "200px";
                      show.style.display = "block";
                      text.innerHTML = "Hide Comments";
                      var min = feed.style.minHeight;
                      var res = min.split("px");
                      res = parseInt(res[0]) + (80 * set);
                      if(set == 0){
                        feed.style.minHeight = res + 30 + "px";
                      }else{
                        feed.style.minHeight = res + "px";
                      }                  
                      image.style.display = "none";
                    }                    
                  }
                </script>
                <% @count = @count + 1 %>
              <% end %>
            </div>
            <% end %>
          <% else %>
            <div class='container feed'>
              <div class='tweet-image'>
                <% if feed.user.avatar.attached? %>
                  <%= image_tag(feed.user.avatar, class: "feed-avatar") %><br/>
                <% else %>
                  <%= image_tag("/assets/avatar.png", class: "feed-avatar") %><br/>
                <% end %>
              </div>
              <div class='tweet-time'>
                <%= feed.time %>
              </div>
              <div class='tweet-username'>
                <%= feed.user.id %>
              </div>
              <div class='tweet-text'>                
                <%= highlight(feed.text, /#\w+/, highlighter: '<a href="feeds?utf8=✓&search=\1&commit=Search">\1</a>') %>
              </div>
              
              <% if feed.image.attached? %>
                <%= image_tag(feed.image, class: "feed-image") %>
              <% end %>
            </div>
          <% end %>
        <% end %>
    </div>
    
    <div class='col-md-3 color margin'>
      <%= render "layouts/people" %>  
    </div>
</div>