<div class='row'>
    <div class='col-md-3'>
      <%= render 'layouts/menu' %>  
    </div>


    <div class='col-md-6 page-borders no-padding'>
        <div class='col-md-2 header color'>
           <h1>Profile</h1>
        </div>
        <hr class='line'>
        <div class="form-profile">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>
            <div class="field">
              <% if current_user.avatar.attached? %>
                <%= image_tag(current_user.avatar, class: "profile-avatar")  %><br/>
              <% else %>
                <%= image_tag("/assets/avatar.png", class: "profile-avatar") %><br/>
              <% end %>
            </div>
            <% if !current_user.provider? %>
              <div class="field">
                <%= f.label :email %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
              </div>

              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
              <% end %>

              <div class="field">
                <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
                <%= f.password_field :password, autocomplete: "new-password", class: "form-control"  %>
                <% if @minimum_password_length %>
                  <br />
                  <em><%= @minimum_password_length %> characters minimum</em>
                <% end %>
              </div>

              <div class="field">
                <%= f.label :password_confirmation %><br />
                <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control"  %>
              </div>
            <% end %>

            <div class="field">
              <%= f.label :bio %></i><br />
              <%= f.text_area :bio, id: :user_bio, placeholder: "Bio", class: "edit-bio" %>
            </div>

            <div class="field">
              <%= f.label :location %></i><br />
              <%= f.text_field :location, id: :user_location, class: "form-control"  %>
            </div>

            <div class="field">
              <%= f.label :born_date %></i><br />
              <%= f.date_field :born_date, id: :user_born_date, class: "form-control datepicker", name: "born"  %>
              <script>
                var today = new Date();
                var dd = today.getDate();
                var mm = today.getMonth()+1;
                var yyyy = today.getFullYear();

                if(dd<10){
                  dd='0'+dd
                } 
                if(mm<10){
                  mm='0'+mm
                } 

                today = yyyy+'-'+mm+'-'+dd;
                document.getElementsByName("born")[0].setAttribute("max", today);
              </script>
            </div>
            <div class="fileUpload btn btn-primary float-right">
              <span>Upload</span>
              <%= f.file_field :avatar, class: "upload" %>
            </div>
            <div class="actions">
              <%= f.submit "Update", class: "btn btn-primary" %>
            </div>
          <% end %>
          <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %></p>

          <%= link_to "Back", root_path %>
        </div>
    </div>

    <div class='col-md-3 color'>
      <%= render 'layouts/people' %>  
    </div>
</div>


