<p id="notice"><%= notice %></p>

<p>
  <strong>Reply:</strong>
  <%= @comment.reply %>
</p>

<p>
  <strong>Posted:</strong>
  <%= @comment.posted %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
