<h1>Who to follow</h1>
<% @users = User.all %>
<% @users.each do |user| %>
    <% unless user == current_user %>
    <div class="container user-profiles text-center">
        <% if user.avatar.attached? %>
            <%= image_tag(user.avatar, class: "people-image")  %><br/>
        <% else %>
            <%= image_tag("/assets/avatar.png", class: "people-image") %><br/>
        <% end %>
        <%= user.username %><br/>
        <% if user_signed_in? %>
            <% unless user == current_user %>
                <% if current_user.following?(user) %>
                    <%= button_to("Un-Follow", user_follow_path(user.to_param, current_user.get_follow(user).id), :method => :delete, :remote => true, class: 'btn btn-primary') %>
                <% else %>
                    <%= button_to("Follow", user_follows_path(user.to_param), :remote => true, class: 'btn btn-primary') %>
                <% end %>
            <% end %>
        <% end %>
    </div>
    <% end %>
<% end %>
